body{
  overflow-x:hidden;
  .navv{
    border-bottom: 1px solid grey;
    background: transparent;
    .logo{
      margin-left: 50px;
      background-color: #00def2;
      vertical-align: middle;
      font-size: 75px;
      height:100px;
      width:100px;
      font-family: 'Audiowide', cursive;
      font-weight: bold;
      color: white;
      text-align: center;
      top:0;
    }
    .nav-pills{
      li{
        a{
          color:grey;
          font-size: 15px;
          text-transform: uppercase;
        }
        a:hover{
          color:#00def2;
          background: transparent;        
        }
      }
    }
    #nav1{
      float:right;
      margin-right: 75px;
      margin-top:-70px;
    }
  }
  .profile_body{
    background-image: url("images/dot.svg"),linear-gradient(140deg,rgba(24,46,74,.85),rgba(70,174,195,.65)),url("images/profile.jpg");
    height:100vh;
    width:100vw;
    top:90px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-clip: inherit;
    background-size: cover;
    
    .hero {
      font-family: 'Audiowide', cursive;
      font-size: 4vw;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-align: center;
    }
  }
  .desicontainer {
    text-align: center;
    
    #desiimg{
      margin-top: 80px;
      width: 130px;
      height: 130px;
    }
    #des{
      color:grey;
      line-height: 36px;
      margin-bottom: 10px;
      font-family: 'Nunito', sans-serif;
    }
    #des1{
      margin-top: 40px;
      padding-top: 20px;
      border-top:1px solid grey;
      color:grey;
      line-height: 25px; 
      font-family: 'Varela Round', sans-serif;
    }
  }
  
  .about{
    margin-top:50px;
    text-align: center;
    .abt{
      background-color:#F6F6F8;
      #abimg{
        margin-top: 20px;
      }
      .heading{
        font-family: 'Nunito', sans-serif;
        color:grey;
      }
      .para{
        margin-top: 30px;
        line-height:35px;
        color:grey;
        font-family: 'Varela Round', sans-serif;
      }
    }  
  }
  .img1_container {
    text-align: center;
  }
  #img1{
    margin-top: 80px;
    height: 130px;
    width: 130px;
  }
  #work1{
    color:grey;
    line-height: 36px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
  }
  #work2{
    margin-left: 300px;
    margin-top: 40px;
    margin-right: 300px;
    padding-left: 30px;
    padding-top: 20px;
    border-top:1px solid grey;
    color:grey;
    line-height: 25px;  
    font-family: 'Varela Round', sans-serif;
    #br1{
      margin-left: 20px;
      font-family: 'Nunito', sans-serif;
    }
    #br2{
      margin-left: 37px;
      font-family: 'Nunito', sans-serif;
    }
    #br3{
      margin-left: 180px;
      font-family: 'Nunito', sans-serif;
    }  
  }
  .clas{
    margin-top: 50px;
    #workimg{
      width:100%;
    }
    #imf{
      height:364px;
    }
  }  
  .ims{
    margin-top:30px;
    #imf{
      height:364px;
    }
  }
  .contact1{
    background-color:#F6F6F8;
    .contact{ 
      color: grey;
      text-align: center;
      font-family: 'Nunito', sans-serif;
    }
  }
}

.ih-item.square.effect13 {
  width: auto;
  height: auto;
}