body{
  overflow-x:hidden;
  .navv{
    border-bottom: 1px solid grey;
    background: transparent;
    .logo{
      margin-left: 50px;
      background-color: #00def2;
      vertical-align: middle;
      font-size: 75px;
      height:100px;
      width:100px;
      font-family: 'Audiowide', cursive;
      font-weight: bold;
      color: white;
      text-align: center;
      top:0;
    }
    .nav-pills{
      li{
        a{
          color:grey;
          font-size: 15px;
          text-transform: uppercase;
        }
        a:hover{
          color:#00def2;
          background: transparent;        
        }
      }
    }
    #nav1{
      float:right;
      margin-right: 75px;
      margin-top:-70px;
    }
  }
  .profile_body{
     width:100vw;
  height:100vh;
    background-image: url("/images/dot.svg"),linear-gradient(140deg,rgba(24,46,74,.85),rgba(70,174,195,.65)),url("/images/profile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-position: 10%  0;
  
  .land_container{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    color: white;
    
    #heading{
        margin: 0 0 15px;
        text-shadow: 0 1px 2px rgba(0,0,0,.3);
        letter-spacing: 12.5px;
        font-size: 45px;
    line-height: 55px;
    font-weight: 100;
}
#hero_p{
        color: #d7eff3;
    margin: 0 auto 20px;
    max-width: 550px;
    width: 85%;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    font-size: 15px;
    font-weight: 200;
    letter-spacing: .25px;
    line-height: 29px;
}
.button{
        margin: 0 auto;
    max-width: 225px;
    background: linear-gradient(#69c339 0,#3ebd4d 100%);
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.21);
    display: block;
    font-weight: 300;
    letter-spacing: 1.5px;
    max-width: 300px;
    outline: 0;
    padding: 18px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 100;
    color:white;
}
.button:hover{
  background: linear-gradient(#3ebd4d 0,#3ebd4d 100%);
    color:white;
    text-decoration: none;
}

.hero-arrow {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    height: 15px;
    width: 40px;
    background-image: url("/images/down-arrow.svg") no-repeat;
    bottom: 30px;
    }

  }
  }
  .desicontainer {
    text-align: center;
    
    #desiimg{
      margin-top: 80px;
      width: 130px;
      height: 130px;
    }
    #des{
      color:grey;
      line-height: 36px;
      margin-bottom: 10px;
      font-family: 'Nunito', sans-serif;
    }
    #des1{
      margin-top: 40px;
      padding-top: 20px;
      border-top:1px solid grey;
      color:grey;
      line-height: 25px; 
      font-family: 'Varela Round', sans-serif;
    }
  }
  
  .about{
    margin-top:50px;
    text-align: center;
    .abt{
      background-color:#F6F6F8;
      #abimg{
        margin-top: 20px;
      }
      .heading{
        font-family: 'Nunito', sans-serif;
        color:grey;
      }
      .para{
        margin-top: 30px;
        line-height:35px;
        color:grey;
        font-family: 'Varela Round', sans-serif;
      }
    }  
  }
  .img1_container {
    text-align: center;
  }
  #img1{
    margin-top: 80px;
    height: 130px;
    width: 130px;
  }
  #work1{
    color:grey;
    line-height: 36px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
  }
  #work2{
    margin-left: 300px;
    margin-top: 40px;
    margin-right: 300px;
    padding-left: 30px;
    padding-top: 20px;
    border-top:1px solid grey;
    color:grey;
    line-height: 25px;  
    font-family: 'Varela Round', sans-serif;
    #br1{
      margin-left: 20px;
      font-family: 'Nunito', sans-serif;
    }
    #br2{
      margin-left: 37px;
      font-family: 'Nunito', sans-serif;
    }
    #br3{
      margin-left: 180px;
      font-family: 'Nunito', sans-serif;
    }  
  }
  .clas{
    margin-top: 50px;
    #workimg{
      width:100%;
    }
    #imf{
      height:364px;
    }
  }  
  .ims{
    margin-top:30px;
    #imf{
      height:364px;
    }
  }
  .contact1{
    background-color:#F6F6F8;
    .contact{ 
      color: grey;
      text-align: center;
      font-family: 'Nunito', sans-serif;
    }
  }
}

.ih-item.square.effect13 {
  width: auto;
  height: auto;
}